---
import Intersection from "../../utils/Intersection";
---

<section id="projects" class="border-t-2 border-t-gray-400 scroll-mt-5">
  <Intersection client:only element={"#projects"} tagMenu={"#menu-projects"} threshold={0.2}/> 
  <h2
    class="sticky top-0 z-20 bg-slate-900/75 pr-6 py-5 backdrop-blur text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only lg:hidden"
  >
    Projects
  </h2>
  <ul>
    <li
      class="mb-12 gap-x-10 cursor-pointer transition-all duration-200 rounded-lg lg:px-6 py-6 hover:lg:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
    >
      <a
        href="https://apicriptomonedas.netlify.app/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="cripto open new tab"
        title="cripto project"
        class="underline"
      >
        <p>Cripto</p>
      </a>
      <div>
        <p>
          Build and maintain critical components used to construct Klaviyo’s
          frontend, across the whole product. Work closely with cross-functional
          teams, including developers, designers, and product managers, to
          implement and advocate for best practices in web accessibility.
        </p>
        <ul class="flex gap-x-2 mt-4">
          <li
            class="rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium text-teal-300 leading-5"
          >
            React
          </li>
          <li
            class="rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium text-teal-300 leading-5"
          >
           Crypto API
          </li>
          <li
            class="rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium text-teal-300 leading-5"
          >
            CSS
          </li>
        </ul>
      </div>
    </li>
    <li
      class="mb-12 gap-x-10 cursor-pointer transition-all duration-200 rounded-lg lg:px-6 py-6 hover:lg:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
    >
      <a
        href="https://gifosproject.netlify.app/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="gifosproject open new tab"
        title="gifosproject"
        class="underline"
      >
        <div>Gifos Project</div>
      </a>
      <div>
        <p>
          Build and maintain critical components used to construct Klaviyo’s
          frontend, across the whole product. Work closely with cross-functional
          teams, including developers, designers, and product managers, to
          implement and advocate for best practices in web accessibility.
        </p>
        <ul class="flex gap-x-2 mt-4">
          <li
            class="rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium text-teal-300 leading-5"
          >
            Javascript
          </li>
          <li
            class="rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium text-teal-300 leading-5"
          >
            CSS
          </li>
        </ul>
      </div>
    </li>
    <li
      class="mb-12 gap-x-10 cursor-pointer transition-all duration-200 rounded-lg lg:px-6 py-6 hover:lg:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
    >
      <a
        href="https://weather-clima-app.netlify.app/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="weather-clima-app open new tab"
        title="weather-clima-app"
        class="underline"
      >
        <div>Climapp</div>
      </a>
      <div>
        <p>
          Build and maintain critical components used to construct Klaviyo’s
          frontend, across the whole product. Work closely with cross-functional
          teams, including developers, designers, and product managers, to
          implement and advocate for best practices in web accessibility.
        </p>
        <ul class="flex gap-x-2 mt-4">
          <li
            class="rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium text-teal-300 leading-5"
          >
            React
          </li>
          <li
            class="rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium text-teal-300 leading-5"
          >
            CSS
          </li>
          <li
            class="rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium text-teal-300 leading-5"
          >
            Weather Api
          </li>
        </ul>
      </div>
    </li>
    <li
      id="admin_appointment"
      class="mb-12 gap-x-10 cursor-pointer transition-all duration-200 rounded-lg lg:px-6 py-6 hover:lg:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
    >
      <a
        href="https://adminappointment.netlify.app/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="admin appointment open new tab"
        title="admina ppointment"
        class="underline"
      >
        <div>Admin Appointment</div>
      </a>
      <div>
        <p>
          Build and maintain critical components used to construct Klaviyo’s
          frontend, across the whole product. Work closely with cross-functional
          teams, including developers, designers, and product managers, to
          implement and advocate for best practices in web accessibility.
        </p>
        <ul class="flex gap-x-2 mt-4">
          <li
            class="rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium text-teal-300 leading-5"
          >
            React
          </li>
          <li
            class="rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium text-teal-300 leading-5"
          >
            CSS
          </li>
          <li
            class="rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium text-teal-300 leading-5"
          >
            Skeleton
          </li>
        </ul>
      </div>
    </li>
  </ul>
  
</section>
