
---
import linkedin from  "../../assets/linkedin-icon.svg";
import github from  "../../assets/github-icon.svg";
---

<ul class="flex">
  <li>
    <a href="">
      <img src={linkedin.src} alt="" class="size-8">
    </a>
  </li>
  <li>
    <a href="">
      <img src={github.src} alt="" class="size-8">
    </a>
  </li>
</ul>