
---
import linkedin from  "../../assets/linkedin-icon.svg";
import github from  "../../assets/github-icon.svg";
---

<ul class="flex gap-x-3">
  <li>
    <a href="https://www.linkedin.com/in/juantuberquia/" target="_blank" aria-label="Linkedin open new tab" title="Linkedin">
      <img  src={linkedin.src} alt="" class="size-8 invert-[1] opacity-75 transition-all duration-200 hover:opacity-95">
    </a>
  </li>
  <li>
    <a href="https://github.com/juantuberquia1997" target="_blank" aria-label="Github open new tab" title="Github">
      <img src={github.src} alt="" class="size-6 invert-[1] opacity-75 transition-all duration-200 hover:opacity-95">
    </a>
  </li>
</ul>