---
import Intersection from "../../utils/Intersection.tsx";
---

<section class="mb-16 scroll-mt-10" id="about">
  <h2 class="sticky top-0 z-20 bg-slate-900/75 pr-6 py-5  backdrop-blur text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only lg:hidden">About</h2>
  <p>Frontend developer with a passion for the dynamic e-commerce industry, with two years of experience. Specialized in key technologies including JavaScript, TypeScript, CSS, React, and VTEX IO. This
    specialization has enhanced my understanding of e-commerce complexities, enabling me to contribute to
    the success of various projects. I excel in creating attractive and functional user experiences and possess
    strong collaborative skills, and working within productive teams.
  </p>
  <Intersection client:only element={"#about"} tagMenu={"#menu-about"} threshold={1}/>
</section>