---
import About from "../components/about/About.astro";
import Experience from "../components/experience/Experience.astro";
import Header from "../components/header/Header.astro";
import Projects from "../components/projects/Projects.astro";
import Networks from "../components/SocialNetworks/Networks.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="bg-slate-900">
  <div class=" mx-auto min-h-screen gap-7 px-6 py-12 font-sans lg:flex max-w-screen-xl md:px-12 md:py-0 lg:py-0-0 ">
    <div class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-[48%] lg:flex-col lg:justify-between lg:py-20 lg:pb-29">
      <Header />
      <Networks />
    </div>
    <div class="lg:w-[52%] lg:py-12 text-slate-400">
      <About />
      <Experience />
      <Projects />
    </div>
  </div>
</div>
</Layout>

<!-- <style>
	#container {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}
</style> -->
