---
// import background from '../../assets/background-main.jpg';
import './styles.css';
import Header from '../header/Header.astro';
import Networks from '../SocialNetworks/Networks.astro';
import Experience from '../experience/Experience.astro';
---

<div id="container" class="flex">
	<div>
		<h1>
			<a href="">Juan Andres Tuberquia Delgado</a>
		</h1>
		<h2>Front-end Developer</h2>
		<p>I'm a front-end developer with a passion for creating user-friendly and accessible websites.</p>
	 <Header />
	 <Networks />
	</div>
	
	<div>
		<section class="mb-16" id="about">
			<p>I’m a developer passionate about crafting accessible, pixel-perfect user interfaces that blend thoughtful design with robust engineering. My favorite work lies at the intersection of design and development, creating experiences that not only look great but are meticulously built for performance and usability.
			</p>
		</section>
		<Experience />
		</div>
	<!-- <img id="background" src={background.src} alt="" fetchpriority="high" /> -->

</div>

