---
import '../../styles/global.css';
---

<header  class="">
  <nav class="text-2xl font-bold no-underline gap-4  flex flex-col items-start px-5 pt-3 text-right">
    <a href="/about">About</a>
    <a href="/">Experience</a>
    <a href="/blog">Projects</a>
  </nav>
</header>