---
import '../../styles/global.css';
---

<header  class="">
  <h1>
    <a href="">Juan Andres Tuberquia Delgado</a>
  </h1>
  <h2>Front-end Developer</h2>
  <p>I'm a front-end developer with a passion for creating user-friendly and accessible websites.</p>
  <nav class="text-2xl font-bold no-underline gap-4  flex flex-col items-start px-5 pt-3 text-right">
    <a href="/about">About</a>
    <a href="/">Experience</a>
    <a href="/blog">Projects</a>
  </nav>
</header>