---
import Intersection from "../../utils/Intersection";
---
<section id="experience" class="border-t-2 border-t-gray-400 scroll-mt-5">
  <h2
    class="sticky top-0 z-20 bg-slate-900/75 pr-6 py-5 backdrop-blur text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only lg:hidden"
  >
    Experience
  </h2>
  <ul>
    <li
      class="mb-12 gap-x-10 cursor-pointer transition-all duration-200 rounded-lg lg:px-6 py-6 hover:lg:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
    >
      <a href="https://www.infracommerce.lat/" title="link to infracommerce" aria-label="link to infracommerce" target="_blank" rel="noopener noreferrer">
        <div>
          <h3
            class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-teal-300 focus-visible:text-teal-300 group/link text-base"
            aria-label="Semi-senior Front-end Developer"
          >
            Semi-senior Front-end Developer
          </h3>
          <h4 class="mb-4">
            <a
              href="https://www.infracommerce.lat/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Infracommerce open new tab"
              title="Infracommerce"
              class="underline"
            >
              Infracommerce
            </a>
          </h4>
          <span
            class="text-nowrap z-10 mb-2 mt-1 text-xs uppercase tracking-wide text-slate-500 sm:col-span-2 font-bold"
          >
            February 2025 - Present
          </span>
          <p>
            Build and maintain components used to construct multiple projects frontend, including 
            <a href="https://www.naldo.com.ar/" target="_blank" rel="noopener noreferrer" aria-label="Naldo open new tab" title="Naldo" class="underline">Naldo</a>, 
            <a href="https://www.farmaonline.com/" target="_blank" rel="noopener noreferrer" aria-label="Farmaonline open new tab" title="Farmaonline" class="underline">Farmaonline</a>, 
            <a href="https://www.lamartina.com.ar/" target="_blank" rel="noopener noreferrer" aria-label="Lamartina open new tab" title="Lamartina" class="underline">La Martina</a>, 
            <a href="https://www.topper.com.ar/" target="_blank" rel="noopener noreferrer" aria-label="Topper open new tab" title="Topper" class="underline">Topper</a>, 
            <a href="https://www.ayres.com.ar/" target="_blank" rel="noopener noreferrer" aria-label="Ayres open new tab" title="Ayres" class="underline">Ayres</a>, 
            Work with a team of front-end developers using Scrum methodology
          </p>
          <ul class="flex gap-2 mt-4 flex-wrap">
            <li class=" rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium text-teal-300 leading-5 ">Typescript</li>
            <li class="rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium text-teal-300 leading-5 ">Javascript</li>
            <li class=" rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium text-teal-300 leading-5 ">React</li>
            <li class=" rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium text-teal-300 leading-5 ">VTEX IO</li>
            <li class=" rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium text-teal-300 leading-5 ">Sass</li>
            <li class=" rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium text-teal-300 leading-5 ">GraphQL</li>
          </ul>
        </div>
      </a>
    </li>
    <li
    class="mb-12 gap-x-10 cursor-pointer transition-all duration-200 rounded-lg lg:px-6 py-6 hover:lg:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
  >
    <a href="https://www.infracommerce.lat/" title="link to infracommerce" aria-label="link to infracommerce" target="_blank" rel="noopener noreferrer">
      <div>
        <h3
          class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-teal-300 focus-visible:text-teal-300 group/link text-base"
          aria-label="Semi-senior Front-end Developer"
        >
          Front-end Developer Analyst
        </h3>
        <h4 class="mb-4">
          <a
            href="https://blacksip.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Blacksip open new tab"
            title="Blacksip"
            class="underline"
          >
            Blacksip
          </a>
        </h4>
        <span
          class="text-nowrap z-10 mb-2 mt-1 text-xs uppercase tracking-wide text-slate-500 sm:col-span-2 font-bold"
        >
          June 2022 - January 2025
        </span>
        <p>
          Build and maintain multiple projects frontend, such as 
          <a href="https://www.levi.com.co/" target="_blank" rel="noopener noreferrer" aria-label="Levi open new tab" title="Levi" class="underline">Levi</a>, 
          <a href="https://www.haceb.com/" target="_blank" rel="noopener noreferrer" aria-label="Haceb open new tab" title="Haceb" class="underline">Haceb</a>, 
          <a href="https://store.sony.com.co/" target="_blank" rel="noopener noreferrer" aria-label="Sony open new tab" title="Sony" class="underline">Sony</a>, 
          <a href="https://www.estuardosanchez.com/" target="_blank" rel="noopener noreferrer" aria-label="Estuardo Sanchez open new tab" title="Estuardo Sanchez" class="underline">Estuardo Sanchez</a>, 
          <a href="https://www.bosi.com.co/" target="_blank" rel="noopener noreferrer" aria-label="Bosi open new tab" title="Bosi" class="underline">Bosi</a>, 
          Work closely with cross-functional teams, including developers, designers, and product
          managers, to implement best practices in the web.
        </p>
        <ul class="flex gap-2 mt-4 flex-wrap">
          <li class=" rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium text-teal-300 leading-5 ">Typescript</li>
          <li class="rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium text-teal-300 leading-5 ">Javascript</li>
          <li class=" rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium text-teal-300 leading-5 ">React</li>
          <li class=" rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium text-teal-300 leading-5 ">VTEX IO</li>
          <li class=" rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium text-teal-300 leading-5 ">GraphQL</li>
        </ul>
      </div>
    </a>
  </li>
  </ul>
  <Intersection client:only element={"#experience"} tagMenu={"#menu-experience"} threshold={0.8} />
</section>
