<section id="experience">
  <ul>
    <li class="mb-12">
      <div>
        February 2025 - Present
      </div>
      <div>
        <h3> Semi-senior Front-end Developer</h3>
        <h4> Infracommerce</h4>
        <p>Build and maintain critical components used to construct Klaviyo’s frontend, across the whole product. Work closely with cross-functional teams, including developers, designers, and product managers, to implement and advocate for best practices in web accessibility.</p>
        <ul>
          <li class="mr-1.5 mt-2">typescript</li>
          <li class="mr-1.5 mt-2">javascript</li>
          <li class="mr-1.5 mt-2">react</li>
          <li class="mr-1.5 mt-2">vtex io</li>
        </ul>
      </div>
    </li>
    <li class="mb-12">
      <div>
        June 2022 - January 2025 
      </div>
      <div>
        <h3> Semi-senior Front-end Developer</h3>
        <h4> Blacksip</h4>
        <p>Build and maintain critical components used to construct Klaviyo’s frontend, across the whole product. Work closely with cross-functional teams, including developers, designers, and product managers, to implement and advocate for best practices in web accessibility.</p>
        <ul>
          <li class="mr-1.5 mt-2" >typescript</li>
          <li class="mr-1.5 mt-2">javascript</li>
          <li class="mr-1.5 mt-2">react</li>
          <li class="mr-1.5 mt-2">vtex io</li>
        </ul>
      </div>
    </li>
  </ul>
</section>