<section id="experience">
  <h2 class="sticky top-0 z-20 bg-slate-900/75 pr-6 py-5  backdrop-blur text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only lg:hidden">Experience</h2>
  <ul>
    <li class="mb-12 lg:flex gap-x-10">
      <p class="text-nowrap z-10 mb-2 mt-1 text-xs uppercase tracking-wide text-slate-500 sm:col-span-2 font-bold">
        February 2025 - Present
      </p>
      <div>
        <h3 class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-teal-300 focus-visible:text-teal-300  group/link text-base" aria-label="Semi-senior Front-end Developer"> Semi-senior Front-end Developer</h3>
        <h4 class="mb-4"> 
          <a href="https://www.infracommerce.lat/" target="_blank" rel="noopener noreferrer" aria-label="Infracommerce open new tab" title="Infracommerce" class="underline">
            Infracommerce
          </a> 
        </h4>
        <p>Build and maintain critical components used to construct Klaviyo’s frontend, across the whole product. Work closely with cross-functional teams, including developers, designers, and product managers, to implement and advocate for best practices in web accessibility.</p>
        <ul class="flex gap-x-2">
          <li class="mr-1.5 mt-2">typescript</li>
          <li class="mr-1.5 mt-2">javascript</li>
          <li class="mr-1.5 mt-2">react</li>
          <li class="mr-1.5 mt-2">vtex io</li>
        </ul>
      </div>
    </li>
    <li class="mb-12">
      <div>
        June 2022 - January 2025 
      </div>
      <div>
        <h3> Semi-senior Front-end Developer</h3>
        <h4> Blacksip</h4>
        <p>Build and maintain critical components used to construct Klaviyo’s frontend, across the whole product. Work closely with cross-functional teams, including developers, designers, and product managers, to implement and advocate for best practices in web accessibility.</p>
        <ul>
          <li class="mr-1.5 mt-2" >typescript</li>
          <li class="mr-1.5 mt-2">javascript</li>
          <li class="mr-1.5 mt-2">react</li>
          <li class="mr-1.5 mt-2">vtex io</li>
        </ul>
      </div>
    </li>
  </ul>
</section>